<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
      <services>
          <service name="WcfSoapService.SoapService" behaviorConfiguration="TestSoapBehavior">
              <endpoint address="" binding="basicHttpBinding" bindingConfiguration="WcfSoapService" contract="WcfSoapService.ISoapService" />
              <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
          </service>
      </services>
      <bindings>
          <basicHttpBinding>
              <binding name="WcfSoapService" maxReceivedMessageSize="65536000" closeTimeout="00:05:00" bypassProxyOnLocal="true" openTimeout="00:05:00" receiveTimeout="00:30:00" sendTimeout="10:00:00" transferMode="StreamedResponse" messageEncoding="Mtom">
                  <security mode="TransportWithMessageCredential">
                      <message clientCredentialType="UserName"/>
                  </security>
              </binding>
          </basicHttpBinding>
      </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TestSoapBehavior">
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
            <serviceCredentials>
                <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WcfSoapService.ServiceAuthenticator, WcfSoapService"/>
                <serviceCertificate findValue="alcherk-pc" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Error,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type=""/>
                    </add>
                    <add initializeData="C:\Logs\TestSoap_Traces.xml" type="System.Diagnostics.XmlWriterTraceListener" name="messages">
                        <filter type=""/>
                    </add>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
  
</configuration>
